body {
    margin: 0px;
    color: white;
    background-color: #890b0e;
    font-family: 'Lato:100', sans-serif; 
}
.hero {
    display: block;
    min-width: 100%;
    min-height: 80vh;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0rem 3rem 3rem 3rem;
    padding: 3rem;
    font-size: 10em;
}

.desc {
    background-color: #0A1215;
    text-align: justify;
    font-size: 1.5rem; 
    padding: 4rem;    
}